{
    "a": (
        working_dir: "/home/pinosaur/Repos/shrs/plugins/shrs_run_context",
        env: (
            var_table: {},
        ),
        name: "shrs",
        args: [],
        exit_status: 0,
    ),
}